<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="946fab">  <td>15/12/07 10:05:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:visualTests.SikuliTest@6e8dacdf]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2008362258</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>15/12/07 10:05:59</td>   <td>20991</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SikuliTest.init()[pri:0, instance:visualTests.SikuliTest@6e8dacdf]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2008362258</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>15/12/07 10:05:59</td>   <td>21518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SikuliTest.f()[pri:0, instance:visualTests.SikuliTest@6e8dacdf]">f</td> 
  <td>main@2008362258</td>   <td></td> </tr>
<tr bgcolor="946fab">  <td>15/12/07 10:06:08</td>   <td>29999</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:visualTests.SikuliTest@6e8dacdf]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2008362258</td>   <td></td> </tr>
</table>
