<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67ec80">  <td>15/12/08 19:22:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:visualTests.ejercicio5@13afe78]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7631285</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>15/12/08 19:22:44</td>   <td>11562</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;beforeClass.init()[pri:0, instance:visualTests.ejercicio5@13afe78]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7631285</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>15/12/08 19:23:04</td>   <td>32275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ejercicio5.f()[pri:0, instance:visualTests.ejercicio5@13afe78]">f</td> 
  <td>main@7631285</td>   <td></td> </tr>
</table>
